.card {
  max-width: 100%;
  width: 97%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr clamp(6px, 1.2vw, 18px) 1fr;
  transition: all .3s ease;
}

.overlay {
  background: #F8F8F8;
  padding: clamp(20px, 3.5vw, 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  background-color: var(--color);
}

.image {
  height: clamp(290px, 40vw, 530px);
}

.title {
  color: #000;
  font-family: Nunito;
  font-size: clamp(16px, 4vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--color);
}

.subtitle {
  color: #333;
  text-align: right;
  font-family: Onest;
  font-size: clamp(12px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
}

.disc {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2.5vw, 40px);
}

.card:last-child {
  padding-right: 94px;
}

.card:nth-child(odd) {
  .image {
    border-radius: 52px 0 0 52px;
  }

  .overlay {
    border-radius: 0 52px 52px 0;
  }

  .title, .subtitle {
    text-align: left;
  }
}

.card:nth-child(even) {
  .image {
    border-radius: 0 52px 52px 0;
  }
  
  .line {
    order: -1;
  }

  .overlay {
    border-radius: 52px 0 0 52px;
    order: -2;
  }

  .title, .subtitle {
    text-align: right;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }

  .overlay {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .line {
    height: clamp(6px, 1.2vw, 18px);
    order: -2 !important;
  }

  .image {
    width: 100.5%;
    border-radius: 13px 13px 0 0 !important;
    order: -3 !important;
  }

  .overlay {
    border-radius: 0 0 13px 13px !important;
    order: -1 !important;
  }

  .title, .subtitle {
    text-align: left !important;
  }
}