@keyframes titleAnimation {
  0% {
    scale: .9;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    scale: 1;
    opacity: 1;
    visibility: visible;
  }
}

.title, .title_active {
  color: rgba(var(--black), .73);
  font-size: clamp(28px, 7vw, 44px);
  font-weight: 800;
}

.title_active {
  animation: titleAnimation .5s linear forwards;
}