@keyframes animate {
  0% {
    opacity: 0;
    visibility: hidden;
    scale: .9;
  }
  100% {
    opacity: 1;
    visibility: visible;
    scale: 1;
  }
}

.animate, .animate_active {
  opacity: 0;
  visibility: hidden;
}

.animate_active {
  animation: animate .2s linear forwards;
}