.about {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 5vw, 73px) 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, 12.5vw, 180px);
}

@media screen and (max-width: 768px) {
  .cards {
    overflow-x: scroll;
    flex-direction: row;
  }
}

.arrow {
  display: none;
}

@media screen and (max-width: 768px) {
  .arrow {
    margin: -10px 0 0 20px;
    display: inline-block;
    border-radius: 20px;
    padding: 0 8px;
    border: 2px solid var(--color-black);
    line-height: .5;
    font-size: 30px;
  }
}