@keyframes cardAnimation {
  0% {
    scale: .8;
  }
  100% {
    scale: 1;
  }
}

@keyframes cardWidth {
  0% {
    max-width: 0;
  }
  100% {
    max-width: calc(100% - 2 * 40px);
  }
}

.card {
  position: relative;
  display: grid;
  gap: clamp(20px, 5vw, 50px);
  grid-template-columns: 4.2fr 5.8fr;
  padding: clamp(16px, 4vw, 40px);
  background-color: var(--color-feil);
  border-radius: clamp(18px, 4.5vw, 48px);
  animation: cardAnimation .2s ease-out forwards;
}

@media screen and (max-width: 1280px) {
  .card {
    grid-template-columns: 1fr;
  }
}

.card_line {
  position: absolute;
  left: 40px;
  bottom: 0;
  height: 3px;
  width: 100%;
  animation: cardWidth 10s linear forwards;
  border-radius: 0 0 0 inherit;
  border-bottom: 3px solid var(--color-green);
}

.text {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 3vw, 20px);
  padding: 28px 0;
}

@media screen and (max-width: 1280px) {
  .text {
    padding: 0;
  }
}

.title {
  font-family: var(--font-nunito) !important;
  font-size: clamp(18px, 4.5vw, 32px);
  font-style: normal;
  font-weight: 800;
}

.subtitle {
  font-family: var(--font-onest) !important;
  color: rgba(var(--black), 0.74);
  font-size: clamp(12px, 3vw, 18px);
  font-style: normal;
  font-weight: 300;
}

.image {
  aspect-ratio: 2/1.2;
  border-radius: 20px 20px 20px 100px;
}

@media screen and (max-width: 1280px) {
  .image {
    order: -1;
    border-radius: 18px;
    aspect-ratio: 3/1.2;
  }
}

@media screen and (max-width: 768px) {
  .image {
    aspect-ratio: 2/1.5;
  }
}

.marks {
  margin-top: auto;
  display: grid;
  gap: clamp(6px, 2vw, 20px);
}

@media screen and (max-width: 768px) {
  .marks {
    grid-template-columns: 1fr !important;
  }
}