@keyframes subtitleAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    scale: .9;
  }
  100% {
    opacity: 1;
    visibility: visible;
    scale: 1;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: clamp(8px, 2.5vw, 14px);
}

.subtitle, .subtitle_active {
  margin: 0 auto;
  max-width: 842px;
  font-weight: 400;
  font-size: clamp(12px, 3vw, 28px);
  color: rgba(var(--black), 0.6);
  text-align: center;
}

.subtitle_active {
  animation: subtitleAnimation .5s ease forwards;
}

.seasons {
  padding: clamp(14px, 3.5vw, 28px) 0 clamp(24px, 5.5vw, 72px);
  display: flex;
  gap: 10px;
  justify-content: center;
}

.cards {
  position: relative;
  display: flex;
  gap: 94px;
  padding: 0 94px;
}

.sliders {
  display: none;
}

.mikro {
  overflow-x: scroll;
}

@media screen and (max-width: 1200px) {
  .cards {
    gap: 0;
    padding: 0;
  }

  .sliders {
    padding: 12px 0 0;
    display: flex;
  }

  .mikro {
    margin: 0 40px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 576px) {
  .mikro {
    margin: 0 20px;
  }
}
