@keyframes topBarAnimation {
  0% {
    transform: translateY(0px);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(20px);
    z-index: 1001;
    opacity: 1;
    visibility: visible;
  }
}

.header {
  position: fixed;
  top: 0;
  animation: topBarAnimation .4s ease-out forwards;
}

.content {
  padding: 0;
  border-radius: 43px;
}

.logo__image {
  aspect-ratio: 1/1;
}

.logo__name {
  margin: auto 0;
  min-width: 87px;
  color: var(--color-bluz);
  line-height: 1.2;
}
