@keyframes topBarAnimation {
  0% {
    scale: .9;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    scale: 1;
    z-index: 1001;
    opacity: 1;
    visibility: visible;
  }
}

.header {
  position: fixed;
  top: 20px;
  animation: topBarAnimation .4s ease-out forwards;
}

.content {
  padding: 0;
  border-radius: 43px;
}

.logo {
  display: block;
  min-width: clamp(120px, 10vw, 132px);
  width: 100%;
}

.button {
  width: 199px;
  height: 56px;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
}

@media screen and (max-width: 992px) {
  .logo {
    min-width: 100%;
    max-height: clamp(31px, 7vw, 48px);
  }
}