.card {
  width: 100%;
  flex-shrink: 0;
  max-width: calc((100% / 3) - 20px);
  border-radius: clamp(14px, 3vw, 24px);
  background-color: var(--color-feil);
  transition: all .3s ease;
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: calc((100% / 2) - 10px);
  }
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}

.vertical {
  min-width: 0;
}

.header {
  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: clamp(14px, 3vw, 24px);
  padding-inline: clamp(20px, 4vw, 30px);
  padding-block: 20px;
  display: grid;
  grid-template-columns: 1fr 132px;
  gap: 12px;
}

.block {
  padding: clamp(20px, 4vw, 30px);
}

.title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: clamp(18px, 2.5vw, 24px);
  font-weight: 700;
}

.link, .icon {
  display: block;
  align-content: center;
  color: rgba(var(--white), .7) !important;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.icon {
  flex-shrink: 0;
}

.text {
  font-family: var(--font-onest) !important;
  color: rgba(var(--black), 0.60);
  font-size: clamp(14px, 3vw, 18px);
  font-style: normal;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rate {
  min-width: 132px;
}