@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.button, .button_active {
  opacity: 0;
  visibility: hidden;
  padding: clamp(12px, 2vw, 20px) clamp(13px, 2vw, 40px) !important;
}

.button_active {
  animation: buttonAnimation .3s ease-out forwards;
}
